<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Listar usuarios</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h3>Listar usuarios</h3>
    <table class="table table-striped">
        <tr>
        	<th>Id</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			
		</tr>
        <tr th:each="categoria : ${list}">
                	<td th:text="${categoria.id}">Id</td>
        
            <td th:text="${categoria.nombre}">Nombre</td>
            <td th:text="${categoria.descripcion}">Descripcion</td>
   		  	         
            <td><a th:href="@{/categorias/delete/}+${categoria.id}">Eliminar</a></td>
            <td><a th:href="@{/categorias/edit/}+${categoria.id}">Editar</a></td>
        </tr>
    </table>
    
    <p><a th:href="@{/}">Inicio</a></p>
</body>
</html>