<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: head-admin">
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== 
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">


 <nav th:replace="fragments :: nav-admin"></nav>
        <div th:if="${session.usuario.rol.id}==2"><div th:replace="fragments :: left-sidebar-employee"></div></div>
        <div th:if="${session.usuario.rol.id}==3"><div th:replace="fragments :: left-sidebar-admin"></div></div>
        
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Gestión de Pedidos</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <button
                            class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i
                                class="ti-settings text-white"></i></button>
                        <ol class="breadcrumb">
                              <li><a th:text="${session.usuario.nombre}"></a></li>
                        
                             <li th:if="${session.usuario.rol.id}==3"><a th:href="@{users/profile/admin}">Admin Dashboard</a></li>

                            <li th:if="${session.usuario.rol.id}==2"><a th:href="@{users/profile/employee}">Empleado Dashboard</a></li>

                            <li class="active">Pedidos</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- ============================================================== -->
                <!-- Other sales widgets -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Users table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">Gestión de Pedidos</div>
                            <div class="table-responsive">
                                <div>

                                
                                    <table class="table table-hover manage-u-table">
                                        <thead>
                                            <tr>
                                                <th >Cliente</th>
                                                <th >Dirección </th>
                                                <th>Email / Telefono</th>
                                                <th >Factura</th>
                                                <th>Total</th>
                                                <th>Detalles</th>
                                                <th>Estado</th>
												<th></th>
                                            </tr>
                                        </thead>




                                        <tbody>
                                            <tr th:each="pedido : ${list}">
                                                <td><span
                                                        th:text="${pedido.usuario.nombre} + ' ' + ${pedido.usuario.apellido1}"
                                                        class="font-medium"></span>
                                                </td>
                                                <td> <span th:text="${pedido.usuario.direccion}"></span>
                                                    <br /><span
                                                        th:text="${pedido.usuario.localidad} + ', ' + ${pedido.usuario.provincia}"
                                                        class="text-muted"></span>
                                                </td>
                                                <td><span th:text="${pedido.usuario.email}"></span>
                                                    <br /><span th:text="${pedido.usuario.telefono}" class="text-muted">999 -
                                                        444 -
                                                        555</span>
                                                </td>
                                                <td th:text="${pedido.numFactura}">
                                                    <br /><span class="text-muted"
                                                        ></span>
                                                </td>
												<td th:text="${pedido.total} + ' €'">total
                                                    <br /><span class="text-muted"
                                                        ></span>
                                                </td>

                                            <td>
                                                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><a th:href="@{/details/list/order/}+${pedido.id}"><i class="ti-pencil-alt"></a></i></button>
                                            </td>


                                                <td th:text="${pedido.estado}"></td>
                                                
                                                
                                                <div th:if="${pedido.estado}==pendiente">
                                                
                                                <td >
 												<form th:action="@{/order/status}" th:object="${pedido}" method="post"> 
                                                         <select style="width:110px;" name="estado" class="form-control">
                                                            <option th:value="pendiente">Pendiente</option>
                                                            <option th:value="enviado">Enviado</option>
                                                            <option th:value="cancelado">Cancelado</option>
                                                        </select>
                                                    
                                                
                                                <input type="hidden" name="id" th:value="${pedido.id}" /> <input
                                                    type="hidden" name="usuario" th:value="${pedido.usuario.id}" />
                                                <input type="hidden" name="metodoPago"
                                                    th:value="${pedido.metodoPago.id}" /> <input type="hidden"
                                                    name="total" th:value="${pedido.total}" />
                                                                                                </td>
                                                
                                                   <td>
                                                        <button style="margin-top:6px; width:40px;" class="button-12" role="button" type="submit"
                                                            value="Enviar">
                                                            OK
                                                        </button>
                                                    </form>
                                                </td>
                                                
                                                </div>
                                                <div th:if="${pedido.estado}=='pendiente de cancelacion'">
                                                <td >
                                                    <form th:action="@{/order/status}" name="estado" th:object="${pedido}" method="post">
                                                        <select style="width:110px;" class="form-control" name="estado">
                                                            <option th:value="pendiente">Pendiente</option>
                                                            <option th:value="cancelado">Cancelado</option>
                                                        </select>
                                                 
                                                
                                                <input type="hidden" name="id" th:value="${pedido.id}" /> <input
                                                    type="hidden" name="usuario" th:value="${pedido.usuario.id}" />
                                                <input type="hidden" name="metodoPago"
                                                    th:value="${pedido.metodoPago.id}" /> <input type="hidden"
                                                    name="total" th:value="${pedido.total}" />
                                                
                                                   </td>
                                                
                                                   <td>
                                                        <button style="margin-top:6px;"class="button-12" role="button" type="submit"
                                                            value="Enviar">
                                                            OK
                                                        </button>
                                                       </form>
                                                </td>
                                                </div>
                                                <td th:if="${pedido.estado}==enviado">
                                                <span ><a th:href="@{/details/pdf/}+${pedido.id}">Factura</a></span>                                         
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->

                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
                </div>
                <!-- /.container-fluid -->
                <footer class="footer text-center"> 2021 &copy; Vinos Applause </footer>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <div th:replace="fragments :: scripts-admin">
        </div>
</body>

</html>