<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Listar usuarios</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h3>Listar usuarios</h3>
    <table class="table table-striped">
        <tr>
        	<th>Id</th>
			<th>Nombre</th>
			<th>Clave</th>
			<th>Email</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
        <tr th:each="usuario : ${lista}">
        	<td th:text="${usuario.id}">Id</td>
            <td th:text="${usuario.id_rol}">Nombre</td>
            <td th:text="${usuario.clave}">Password</td>
            <td th:text="${usuario.nombre}">Email</td>
            <td th:text="${usuario.apellido1}">Email</td>
   		  	<td th:text="${usuario.apellido1}">Email</td>
   		  	<td th:text="${usuario.direccion}">Email</td>
   		  	<td th:text="${usuario.localidad}">Email</td>
   		  	<td th:text="${usuario.provincia}">Email</td>
   		  	<td th:text="${usuario.telefono}">Email</td>
   		  	<td th:text="${usuario.dni}">Email</td>
            
            
            <td><a th:href="@{/usuarios/delete/}+${usuario.id}">Eliminar</a></td>
            <td><a th:href="@{/usuarios/edit/}+${usuario.id}">Editar</a></td>
        </tr>
    </table>
    
    <p><a th:href="@{/}">Inicio</a></p>
</body>
</html>