<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Crear usuario</title>
</head>
<body>
	<h3>Crear usuario</h3>
	 <form th:action="@{/usuarios/add/submit}" th:object="${usuario}" method="post" >
	    <input type="text" id="name" name="name" placeholder="Nombre" />
	    <br/><br/>
	      <input type="text" id="name" name="apellido1" placeholder="Apellido1" />
	    <br/><br/>
	     <input type="text" id="name" name="apellido" placeholder="Apellido2" />
	    <br/><br/>
	    <input type="number" id="name" name="id_rol" placeholder="Rol" />
	    <br/><br/>
	    <input type="password" id="pass" name="clave" placeholder="Contraseña"/>
	    <br/><br/>
	    <input type="email" id="email" name="email" placeholder="Email" />
	    <br/><br/>
	     <input type="text" id="name" name="direccion" placeholder="Direccion"/>
	    <br/><br/>
	    <input type="text" id="name" name="localidad" placeholder="Localidad" />
	    <br/><br/>
	   	<input type="text" id="name" name="provincia" placeholder="Provincia"/>
	    <br/><br/>
	   	<input type="text" id="name" name="telefono" placeholder="Telefono" />
	    <br/><br/>
	  	<input type="text" id="name" name="dni" placeholder="Dni"/>
	    <br/><br/>
	    <button>Guardar</button>
	    
	    <input type="hidden" id="id" name="id" th:field="*{id}"/>
	</form>
	
	<p><a th:href="@{/}">Inicio</a></p>
	
</body>
</html>