<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: head-admin">
</head>

<body class="fix-header">
	<!-- ============================================================== -->
	<!-- Preloader -->
	<!-- ============================================================== 
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>-->
	<!-- ============================================================== -->
	<!-- Wrapper -->
	<!-- ============================================================== -->
	<div id="wrapper">


		<nav th:replace="fragments :: nav-admin"></nav>
		<div th:replace="fragments :: left-sidebar-admin"></div>
		<!-- ============================================================== -->
		<!-- Page Content -->
		<!-- ============================================================== -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Gestión Detalles de Pedido</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<button
							class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20">
							<i class="ti-settings text-white"></i>
						</button>
						<ol class="breadcrumb">
						  <li><a th:text="${session.usuario.nombre}"></a></li>
                        
                             <li th:if="${session.usuario.rol.id}==3"><a th:href="@{users/profile/admin}">Admin Dashboard</a></li>

                            <li th:if="${session.usuario.rol.id}==2"><a th:href="@{users/profile/employee}">Empleado Dashboard</a></li>
						
							<li class="active">Detalles de Pedido</li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				
				<!-- ============================================================== -->
				<!-- Other sales widgets -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Users table -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading">Gestión de Detalles de Pedido</div>
							<div class="table-responsive">

								<table class="table table-hover manage-u-table">
									<thead>
										<tr>
											<th style="width: 70px;" class="text-center">#</th>
											<th>Nombre de Producto</th>
											<th>Precio</th>
											<th>Unidades</th>
											<th>Impuesto</th>
											<th>Total</th>
											<th>Email / Usuario</th>
											<th></th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="detalle : ${list}">
											<td th:text="${detalle.pedido.id}" class="text-center">7</td>
											<td><span th:text="${detalle.producto.nombre}"
												class="font-medium"></span></td>
											<td><span th:text="${detalle.precioUnidad}"></span></td>
											<td><span th:text="${detalle.unidades}"
												class="text-muted"></span></td>
											<td th:text="${detalle.impuesto}">Id</td>
											<td th:text="${detalle.total}"><br />
											<span class="text-muted"></span></td>


											<td><span th:text="${detalle.pedido.usuario.email}"></span>
												<br /> <span
												th:text="${detalle.pedido.usuario.nombre} + ' ' +${detalle.pedido.usuario.apellido1}"
												class="text-muted"></span></td>



											
											<td th:if="${detalle.pedido.estado}==pendiente">
												<form th:action="@{/details/cancel}" method="post">

													<input type="hidden" name="id" th:value="${detalle.id}" />

													<p>
														<button class="button-12" role="button" type="submit"
															value="Enviar" />
														Cancelar
														</button>
													</p>
											</form>
											</td>
											<td th:if="${detalle.pedido.estado}!=pendiente">
											<span th:text="${detalle.pedido.estado}"></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->

				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2021 &copy; Vinos
				Applause </footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="fragments :: scripts-admin"></div>
</body>

</html>
