<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!--  Header -->
<link href="css/theme-1.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--   -->
<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragments :: nav-container"></div>

	<div>

		<!--  TODO: Mostrar Productos  -->

		<!--  TODO: Login  -->

		<form th:action="@{/login/submit}" th:object="${usuario}"
			method="post">
			<span> Login </span>

			<div data-validate="Valid email is required: ex@abc.xyz">
				<input type="text" name="email" id="email" placeholder="Email">
			</div>

			<div data-validate="Password is required">
				<input type="password" name="clave" id="pass" placeholder="Password">
			</div>

			<div>
				<button>Login</button>
			</div>
		</form>
	</div>
	<p th:text="${mensaje}" style="color: red;"></p>
	<div>

		<p>
			<a th:href="@{/}">Inicio</a>
		</p>
	</div>
	<footer th:replace="fragments :: footer"></footer>


</body>
</html>