<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div><span>Hola </span><span th:text="${session.email}"></span></div>
	<div>

		<table border="">
			<tr>
				<th>Categoria</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Comprar</th>
			</tr>

			<tr th:each="producto: ${productList}">

				<td th:text="${producto.id_categoria}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td><form th:action="@{/productos/addCarrito}"
						th:object="${producto}" method="get">
						<input type="hidden" name="id" id="id" th:value="${producto.id}">
						<button>Añadir al Carrito</button>
					</form></td>

			</tr>


		</table>
	</div>
	<div>

		<div>Carrito</div>
		<table border="">
			<tr>
				<th>Categoria</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
			</tr>

			<tr th:each="producto: ${session.carrito}">

				<td th:text="${producto.id_categoria}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td></td>

			</tr>

			<tr>
				<td>Total</td>
				<td th:text="${total}"></td>
				<td><form th:action="@{/productos/pago}"
						th:object="${session.carrito}" method="get">
						<input type="hidden" name="cart" id="id" th:value="cart">
						<button>Pagar</button>
					</form></td>
			</tr>
		</table>

	</div>
	
	
	
</body>
</html>