<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet">
<!--  Header -->
<link th:href="@{css/theme-1.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{css/flexslider.min.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{css/line-icons.min.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{css/elegant-icons.min.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{css/lightbox.min.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{css/custom.css}" rel="stylesheet" type="text/css" media="all" />
<!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->



<!-- Extra -->
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">


<title>Vinos de Toro</title>
</head>

<body>

	<div th:fragment="loader" class="loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>

	<div th:fragment="nav-container" class="nav-container">
		<nav class="centered-logo top-bar">
			<div class="container">


				<div class="row">
					<div class="col-sm-12 text-center">
						<a href="index.html"> <img class="logo logo-dark" alt="Logo"
							src="img/logotype_dark.png">
					</div>
				</div>


				<div class="row nav-menu">

					<div class="col-sm-12 columns text-center">
						<ul class="menu">
							<a></a>
							<li><a th:href="@{/}">Inicio</a></li>
							<li><a th:href="@{/buscar/cat}">Buscar Productos</a></li>
							<li><a th:href="@{/productos/list}">Listado de productos</a></li>
							<li><a th:href="@{/login}">Login</a></li>
							<li><a th:href="@{/signup}">Crear Cuenta</a></li>
							<li><a th:href="@{/payment}"><span class="glyphicon glyphicon-shopping-cart"></span> <span th:text="${session.unitsCarrito}">Units</span> Pagar</a></li>
						</ul>

					</div>
				</div>

				<div class="mobile-toggle">
					<i class="icon icon_menu"></i>
				</div>

			</div>
			<div class="bottom-border"></div>
		</nav>

	</div>
	<footer th:fragment="footer" class="short bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							</ul>
							<br>
							<br>
							<br>
							<font color="a87f97">© Copright 2021 Vino de Toro.&nbsp; Designed by Gonzalo</font>.</span>
							
							
							
						</div>
						
						
					</div>
				</div>
			</footer>
	

</body>
</html>