<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>

		<!--  TODO: Mostrar Productos  -->

		<!--  TODO: Login  -->

		<form th:action="@{/usuario/login}" th:object="${user}" method="get">
			<span> Login </span>

			<div data-validate="Valid email is required: ex@abc.xyz">
				<input type="text" name="email" id="email" placeholder="Email">
			</div>

			<div data-validate="Password is required">
				<input type="password" name="pass" id="pass" placeholder="Password">
			</div>

			<div>
				<button>Login</button>
			</div>
		</form>
	</div>
	<div>

		<table border="">
			<tr>
				<th>Categoria</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Comprar</th>
			</tr>

			<tr th:each="producto: ${productList}">

				<td th:text="${producto.id_categoria}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td><form th:action="@{/productos/addCarrito}"
						th:object="${producto}" method="get">
						<input type="hidden" name="id" id="id" th:value="${producto.id}">
						<button>Añadir al Carrito</button>
					</form></td>
				<td><form th:action="@{/productos/detalle}"
						th:object="${producto}" method="get">
						<input type="hidden" name="id" id="id" th:value="${producto.id}">
						<button>Ver Detalle</button>
					</form></td>

			</tr>


		</table>
	</div>
	<div>

		<div>Carrito</div>
		<table border="">
			<tr>
				<th>Categoria</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Unidades</th>

			</tr>

			<tr th:each="unidades: ${session.carrito}">

				<td th:text="${unidades.producto.id_categoria}"></td>
				<td th:text="${unidades.producto.nombre}"></td>
				<td th:text="${unidades.producto.descripcion}"></td>
				<td th:text="${unidades.producto.precio}"></td>
				<td th:text="${unidades.unidades}"></td>

				<td></td>

			</tr>

			<tr>
				<td>Total</td>
				<td th:text="${total}"></td>
				
				
				<td><form th:action="@{/productos/pago}"
						th:object="${session.carrito}" method="get">
						<input type="hidden" name="cart" id="id" th:value="cart">
						<button>Pagar</button>
					</form></td>
			</tr>
		</table>

	</div>



</body>
</html>