<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div><h1>Pagina Principal</h1></div>
	
	<div>

		<table border="">
			<tr>
				<th>Categoria</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Comprar</th>
			</tr>

			<tr th:each="producto: ${productList}">

				<td th:text="${producto.id_categoria}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td><a th:href="@{/productos/detail/}+${producto.id}">Ver
						Detalle</a></td>
				<td><a th:href="@{/productos/addCarrito/}+${producto.id}">Añadir
						a Carrito</a></td>

			</tr>
		</table>
	</div>
	<div>

		<div>Carrito</div>
		<table border="">
			<tr>
				<th>Categoria</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Unidades</th>

			</tr>

			<tr th:each="unidades: ${session.carrito}">

				<td th:text="${unidades.producto.id_categoria}"></td>
				<td th:text="${unidades.producto.nombre}"></td>
				<td th:text="${unidades.producto.descripcion}"></td>
				<td th:text="${unidades.producto.precio}"></td>
				<td th:text="${unidades.unidades}"></td>

				<td></td>

			</tr>

			<tr>
				<td>Total</td>
				<td th:text="${session.totalCarrito}"></td>

				<td><button>
						<a th:href="@{/payment}">Pagar</a>
					</button></td>


			</tr>
		</table>

	</div>

<div>

		<nav>
			<ul>
				<li><a th:href="@{/login}">Login</a></li>
				<li><a th:href="@{/signup}">Alta Usuario</a></li>
			</ul>
		</nav>
		<h2>Usuarios</h2>
		<nav>
			<ul>
				<li><a th:href="@{/usuarios/add}">Nuevo usuario</a></li>
				<li><a th:href="@{/usuarios/list}">Listado de usuarios</a></li>
			</ul>
		</nav>
		<h2>Productos</h2>
		<nav>
			<ul>
				<li><a th:href="@{/productos/add}">Nuevo producto</a></li>
				<li><a th:href="@{/productos/list}">Listado de productos</a></li>
			</ul>
		</nav>
		<h2>Categorias</h2>
		<nav>
			<ul>
				<li><a th:href="@{/categorias/add}">Añadir categoria</a></li>
				<li><a th:href="@{/categorias/list}">Listado de categorias</a></li>
			</ul>
		</nav>
		<h2>Buscar</h2>
		<nav>
			<ul>
				<li><a th:href="@{/buscar/cat}">Buscar Productos</a></li>
			</ul>
		</nav>
		<h2>Config</h2>
		<nav>
			<ul>
				<li><a th:href="@{/config/list}">Listar Configuraciones</a></li>
				<li><a th:href="@{/config/add}">Añadir Configuraciones</a></li>
				
			</ul>
		</nav>
		<h2>Metodos de Pago</h2>
		<nav>
			<ul>
				<li><a th:href="@{/metodos/list}">Listar Metodos de Pago</a></li>
				<li><a th:href="@{/metodos/add}">Añadir Metodos de Pago</a></li>
				
			</ul>
		</nav>
		<h2>Metodos de Pago</h2>
		<nav>
			<ul>
				<li><a th:href="@{/valoraciones/list}">Listar Valoraciones</a></li>
				<li><a th:href="@{/valoraciones/add}">Añadir Valoracion</a></li>
				
			</ul>
		</nav>


</body>
</html>